include AUTHORS
include COPYING
include INSTALL
include LICENSE
include MANIFEST.in
include setup.cfg
include port25.spec
recursive-include port25 *py
recursive-include docs *
recursive-include examples *
prune docs/html/*
